.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 32px 0 112px;
    box-sizing: border-box;
}

.box::after {
    content: "";
}

.content {
    width: 570px;
    text-align: center;
}

.logo {
    font: var(--t-brand);
    font-size: 24px;
}

.title {
    margin-bottom: 12px;
}

.message {
    margin-bottom: 24px;
    color: var(--c-grey-500);
}

.choose {
    margin-bottom: 8px;
}

.intensity {
    margin-bottom: 12px;
}

.action {
    /*display: inline-block;*/
}
