.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px 0 10px 80px;
}

.box {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    margin-right: 80px;
    padding: 32px 40px;
    border-radius: 12px;
}

.box.quiz {
    background-color: var(--c-green-200);
}

.box.assignment {
    background-color: #EDF5FF;
}

.box.skill {
    background-color: var(--c-primary-300);
}

.content {
    font-size: 18px;
    line-height: 24px;
}

.title {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.action {
    margin-top: 16px;
}

.icon {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
}

.box.quiz .icon {
    background-image: url(./quiz.svg);
}

.box.assignment .icon {
    background-image: url(./assignment.svg);
}

.box.skill .icon {
    background-image: url(./skill.svg);
}
