.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px 0 10px 80px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    margin-right: 80px;
    padding: 32px 40px;
}

[data-expand-content] .wrapper {
    padding-left: 0;
}

[data-expand-content] .box {
    margin-right: 0;
}

.box.quiz {
    background-color: var(--c-primary-500);
}

.box.assignment {
    background-color: var(--bg-aquamarine);
}

.box.skill {
    background-color: var(--c-purple-500);
    color: var(--c-white);
}

.content {
    max-width: 70%;
    font-size: 18px;
    line-height: 24px;
}

.content .title {
    margin: 0 0 8px;
    font-family: var(--font-family-brand);
}

.box.quiz .icon {
    flex: 0 0 126px;
    width: 126px;
    height: 96px;
    background-image: url(./quiz.svg);
}

.box.assignment .icon {
    flex: 0 0 80px;
    width: 80px;
    height: 112px;
    background-image: url(./assignment.svg);
}

.box.skill .icon {
    flex: 0 0 133px;
    width: 133px;
    height: 115px;
    background-image: url(./skill.svg);
}

.time.absolute {
    position: absolute;
    top: 24px;
    left: 32px;
}

.footer {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 16px;
    align-items: center;
    margin-top: 16px;
}

.anchor {
    position: absolute;
    margin-top: -100px;
}
