.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 32px 0 112px;
    box-sizing: border-box;
}

.box::after {
    content: "";
}

.content {
    width: 349px;
    text-align: center;
}

.logo {
    font: var(--t-brand);
    font-size: 24px;
}

.title {
    margin-bottom: 12px;
}

.message {
    margin-bottom: 24px;
    color: var(--c-grey-500);
}

.login {
    display: inline-flex;
    align-items: center;
    width: 270px;
    height: 56px;
    margin-bottom: 8px;
    padding-left: 16px;
    border: 1px solid var(--c-grey-300);
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
    color: var(--c-black);
    cursor: pointer;
    transition: border-color var(--animation);
    text-decoration: none;
}

.login:last-child {
    margin-bottom: 0;
}

.login:hover {
    border-color: var(--c-grey-400);
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
