.box {
    display: flex;
}

.left {
    width: 30%;
    min-width: 480px;
    padding-right: 80px;
    box-sizing: border-box;
}

.right {
    flex: 1;
    padding-left: 40px;
}

.right pre {
    white-space: pre-wrap;
}

.writing {
    display: flex;
    align-items: center;
    position: sticky;
    top: 56px;
    height: 56px;
    background-color: var(--c-white);
    z-index: 1;
}

.structure {
    position: sticky;
    top: 136px;
    margin-top: 24px;
}
