.post {
    position: relative;
    height: 40px;
    padding: 4px 24px 8px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--bg-orange);
    overflow: hidden;
    transition: height var(--animation);
}

.post.expanded {
    height: 300px;
    cursor: default;
}

.control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.expand {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    transition: transform var(--animation);
}

.post.expanded .expand {
    transform: rotate(-90deg);
}
