.box {
    transition: var(--screen-transition);
}

.box.slide {
    transform: translateX(100%);
}

.box.slide.prev {
    transform: translateX(-30%);
}

.box.slide.current {
    transform: translateX(0);
}

.box.sheet {
    transform: translateY(100%);
}

.box.sheet.prev {
    transform: translateY(0);
}

.box.sheet.current {
    transform: translateY(0);
}

.box.fade {
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
}

.box.fade.current {
    visibility: visible;
    opacity: 1;
}
