@import "../../theme.css";

.box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1260px;
    margin: 0 auto 64px;
    padding: 40px 0 0 80px;
}

.block {
    flex-basis: 100%;
    display: flex;
}

.main {
    flex: 1;
    padding-right: 80px;
}

.side {
    flex: 0 0 45%;
    padding-left: 40px;
    box-sizing: border-box;
}

.divider {
    height: 8px;
    background-color: var(--c-grey-100);
}

.sticky {
    position: sticky;
}

.badge {
    margin-bottom: 8px;
    font: var(--t-tiny);
    color: var(--c-grey-500);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main > h1 {
    margin-bottom: 24px;
}

.main > h2 {
    margin-bottom: 16px;
}

.main > p {
    margin: 0 0 16px;
}

.main ul {
    margin: 0 0 16px 0;
    padding: 0 0 0 24px;
}

.main li {
    margin-bottom: 8px;
}
