@import "~@sc/ui/theme.css";

.box {
    display: inline-block;
    position: relative;
    padding: 25px 27px;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 429px;
    height: 862px;
    background-image: url(./img/iphone-11-pro.svg);
    pointer-events: none;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 375px;
    height: 812px;
    padding-top: 44px;
    box-sizing: border-box;
    background-color: var(--c-white);
}

.content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 812px;
    background-image: url(./img/screen-elements.svg);
    pointer-events: none;
}

.reset {
    position: absolute;
    top: 220px;
    right: -6px;
    width: 8px;
    height: 97px;
    cursor: pointer;
    z-index: 999;
}

.reset::before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    border-radius: 0 6px 6px 0;
    background-color: var(--c-red-500);
    opacity: 0;
    transition: var(--animation);
    transition-property: width, opacity;
}

.reset:hover::before {
    width: 8px;
    opacity: 1;
    transition-delay: 0.5s;
}
