.box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 64px;
    height: 64px;
    font: normal var(--t-small);
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    color: var(--c-green-500);
}
