.overall {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-family: var(--font-family-brand);
}

.bar {
    position: relative;
    height: 8px;
    margin-bottom: 40px;
    background-color: var(--c-grey-200);
}

.done {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--c-green-500);
}

.label {
    margin: 8px 0 16px;
}

.label.disabled {
    display: flex;
    align-items: center;
    color: var(--c-grey-300);
    cursor: not-allowed;
}

.chapter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
}

.item {
    display: grid;
    grid-template-columns: 24px 1fr auto;
    column-gap: 16px;
    align-items: center;
    height: 56px;
    box-sizing: border-box;
    color: var(--c-grey-500);
    font: var(--t-small);
    border-top: 1px solid var(--c-grey-500);
}

.item:last-child {
    margin-bottom: 40px;
}

.status {
    color: var(--c-green-500);
}

.actions {
    color: var(--c-black);
}

.actions > *:last-child {
    margin-left: 16px;
}

.do {
    color: var(--c-purple-500);
}
