.row {
    display: grid;
    grid-template-columns: minmax(30%, 420px) 1fr;
    column-gap: 100px;
    width: 100%;
}

.row pre {
    white-space: pre-wrap;
}

.row > div {
    padding-top: 0;
    padding-bottom: 0;
}

.tabs {
    display: flex;
}

.gap {
    margin-top: 24px;
}
