.label {
    margin-bottom: 24px;
    line-height: 32px;
}

.asset {
    margin-bottom: 24px;
}

.option {
    display: grid;
    grid-template-columns: 24px auto;
    column-gap: 8px;
    min-height: 56px;
    margin-bottom: 8px;
    padding: 15px 16px;
    box-sizing: border-box;
    border: 1px solid var(--c-grey-100);
    border-radius: 8px;
    background-color: var(--c-grey-100);
    line-height: 24px;
    cursor: pointer;
    transition: var(--animation);
    transition-property: background-color, border-color;
}

.option:last-child {
    margin-bottom: 0;
}

.option.selected {
    border: 1px solid var(--c-black);
    background-color: var(--c-white);
}

.option.correct {
    border: 1px solid var(--c-green-500);
    background-color: var(--c-white);
}

.option.disabled {
    cursor: not-allowed;
}

.comment {
    margin-top: 24px;
    font: var(--t-small);
}
