@import "../../theme.css";

.box {
    margin-bottom: 16px;
}

.controls {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 56px;
    background-color: var(--c-white);
    z-index: 1;
}

.button {
    margin-right: 8px;
    cursor: pointer;
}

.content {
    transition: opacity 200ms var(--animation-timing-function);
}

.content.entered {
    opacity: 1;
}

.content.entering,
.content.exiting,
.content.exited {
    opacity: 0;
}
