.box {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 56px;
    cursor: pointer;
}

.content {
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: 561px;
    margin: -13px 0 0 -64px;
    border-radius: 10px;
    background-color: var(--c-white);
    font: var(--t-base);
    counter-reset: nav-item;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
    opacity: 0;
    visibility: hidden;
    cursor: default;
    transition: var(--animation);
    transition-property: margin-top, opacity, visibility;
    z-index: var(--l-drawer);
}

.box:hover .content {
    margin-top: -3px;
    opacity: 1;
    visibility: visible;
}

.content::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 90px;
    width: 24px;
    height: 24px;
    background-color: var(--c-white);
    transform: rotate(45deg);
}

.items {
    position: relative;
    max-height: 70vh;
    overflow-y: auto;
}

.item:first-child {
    margin-top: 8px;
}

.item:last-child {
    margin-bottom: 16px;
}

.text {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0 16px;
    font-size: 16px;
    cursor: pointer;
}

.text.disabled {
    color: var(--c-grey-500);
    cursor: not-allowed;
}

.text:not(.disabled):hover,
.text.active {
    background-color: var(--c-primary-500);
}

.text::before {
    counter-increment: nav-item;
    content: counter(nav-item)".\a0";
    font-weight: bold;
    color: var(--c-grey-400);
}
