@import "../../theme.css";

.box {
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    border-radius: 18px;
    font: 500 var(--t-small);
    letter-spacing: 0.03em;
}

.box.primary {
    background-color: var(--c-primary-500);
}

.box.grey {
    background-color: var(--c-grey-100);
    color: var(--c-grey-500);
}
