.box {
    margin: 184px 16px 0;
    text-align: center;
}

.title {
    margin-bottom: 56px;
    font: 700 var(--t-h3);
}

.field {
    margin-bottom: 12px;
}

.submit {
    margin: 40px 0 32px;
}

.error {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
    color: var(--c-red-500);
}

.message {
    margin-top: 8px;
    font: var(--t-base);
}
