.box {
    margin: 184px 16px 0;
    text-align: center;
}

.title {
    margin-bottom: 56px;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.field {
    margin-bottom: 12px;
}

.submit {
    margin: 40px 0 32px;
}

.error {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
    color: var(--c-red-500);
}

.message {
    margin-top: 8px;
    font-size: 18px;
    line-height: 32px;
}
