.item {
    max-width: 960px;
    padding: 56px 0;
    border-top: 1px solid var(--c-grey-200);
}

.item.first {
    margin-top: 36px;
}

.item p {
    margin: 0 0 16px 0;
}

.item p:last-child {
    margin: 0;
}

.item em,
.tooltip em {
    font-weight: bold;
    font-style: italic;
}

.anchor {
    position: absolute;
    margin-top: -112px;
}

.link {
    margin-top: 4px;
    color: var(--bg-orange);
    text-decoration: underline;
}

.tooltip p {
    margin: 0;
}
