@import "../../theme.css";

.label {
    display: inline-block;
    height: 20px;
    padding: 2px;
    cursor: pointer;
    user-select: none;
}

.input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.control {
    width: 20px;
    height: 20px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid var(--c-black);
    border-radius: 10px;
    background-color: var(--c-white);
    transition: background-color var(--animation);
}

.control::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--c-white);
}

.input:checked ~ .control {
    background-color: var(--c-black);
}
