.control {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: 700 var(--t-small);
    cursor: pointer;
}

.userpic {
    width: 32px;
    height: 32px;
    margin: 2px 2px 2px 10px;
    border: 2px solid var(--c-white);
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--c-primary-500);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 440px;
    min-height: 0;
}

.header {
    display: flex;
    margin: 0 -40px 24px;
    padding: 40px;
    background-color: var(--c-grey-200);
}

.ava {
    width: 120px;
    height: 120px;
    margin-right: 24px;
    border-radius: 50%;
}

.line {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font: var(--t-small);
}

.info > .line:last-child {
    margin-bottom: 0;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.text {
    composes: line;
    color: var(--c-grey-500);
}

.link {
    composes: line;
    cursor: pointer;
    color: var(--c-purple-500);
    transition: color var(--animation);
}

.link:hover {
    color: var(--c-purple-800);
}
