.box {
    position: relative;
    width: 800px;
    margin: -32px;
    padding: 64px;
    box-sizing: border-box;
    background-color: var(--c-white);
    box-shadow: -12px 12px 0 0 var(--c-sc-purple);
    z-index: 1;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -16px;
    right: -16px;
    width: 52px;
    height: 52px;
    border-radius: 26px;
    background-color: var(--c-sc-purple);
    color: var(--c-white);
    cursor: pointer;
}
