@import "../../theme.css";

.box {
    margin: 24px 0;
    padding: 16px 24px;
    background-color: var(--c-grey-100);
    border-radius: 6px;
}

.box > h2 {
    margin-bottom: 4px;
}

.button {
    margin-top: 20px;
}

.box > h2 + .button {
    margin-top: 12px;
}
