.area {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 22px 0;
    background-color: var(--c-grey-100);
}

.box {
    display: flex;
    align-items: center;
    width: 800px;
    padding: 20px 0;
    box-sizing: border-box;
    border-radius: 12px;
}

.box::before {
    content: "";
    flex: 0 0 12px;
    width: 12px;
    height: 44px;
    margin-right: 28px;
    background-image: url(./img/side.svg);
}

.box::after {
    content: "";
    flex: 0 0 12px;
    width: 12px;
    height: 44px;
    margin-left: 20px;
    background-image: url(./img/side.svg);
    transform: rotate(180deg);
}

.box.assignment {
    background-color: var(--bg-turquoise);
}

.box.quiz {
    background-color: var(--bg-plum);
}

.box.skill {
    background-color: var(--c-white);
}

.pic {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
    margin-right: 32px;
}

.box.assignment .pic {
    background-image: url(./img/assignment.svg);
}

.box.quiz .pic {
    background-image: url(./img/quiz.svg);
}

.box.skill .pic {
    background-image: url(./img/skill.svg);
}

.content {
    flex: 1;
    font: var(--t-base);
    line-height: 25px;
}

.action {
    margin-left: 32px;
}
