.modal {
    display: flex;
    flex-direction: column;
    width: 816px;
    min-height: 0;
}

.finish {
    width: 816px;
    text-align: center;
}

.modal h2,
.finish h2 {
    font-family: var(--font-family);
}

.hat {
    height: 140px;
    margin-bottom: 24px;
    background: url(./party.svg) center no-repeat;
}

.message {
    margin-bottom: 24px;
    line-height: 32px;
}

.label {
    margin-bottom: 24px;
    line-height: 32px;
}

.text {
    margin-bottom: 24px;
    line-height: 26px;
}

.img {
    margin-bottom: 24px;
    border: 1px solid var(--c-grey-300);
    border-radius: 8px;
    overflow: hidden;
}

.code {
    margin-bottom: 24px;
}

.text + .code {
    margin-top: -24px;
}

.asset {
    margin-bottom: 24px;
}

.asset > *:first-child {
    margin-top: 0;
}

.asset > *:last-child {
    margin-bottom: 0;
}

.asset ul,
.asset ol {
    margin: 0 0 16px 0;
    padding: 0 0 0 24px;
    line-height: 26px;
}

.asset ul {
    list-style-type: disc;
}

.asset li {
    margin-bottom: 8px;
}

.options {
    display: inline-block;
    margin-top: 4px;
}

.option {
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 4px 0;
    cursor: pointer;
}

.back {
    flex: 1;
}

.cancel {
    margin-right: 24px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin: -24px 0 24px;
    color: var(--c-grey-500);
}

.anchor {
    position: absolute;
    margin-top: -100px;
}
