@import "../../theme.css";

.box {
    margin: 24px 0;
    padding: 16px 24px;
    box-sizing: border-box;
    border: 2px solid var(--c-primary-500);
    border-left-width: 13px;
    border-radius: 6px;
    font: var(--t-base);
    line-height: 30px;
}
