[data-interceptor=on] [data-lock=on] {
    pointer-events: none;
}

[data-interceptor=on] [data-lock=off] {
    pointer-events: initial;
}

[data-interceptor=on] [data-role="phone-overlay"] {
    display: initial;
}
