@import "../../theme.css";

.label {
    display: flex;
    cursor: pointer;
}

.label.center {
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    transition: transform var(--animation);
}

.icon.expanded {
    transform: rotate(-90deg);
}

.content {
    overflow: hidden;
    transition: height var(--animation);
}
