.box {
    margin: 24px 0;
    cursor: pointer;
}

.img {
    width: 100%;
}

.content {
    margin: -32px;
    padding: 56px 32px;
    box-sizing: border-box;
}

.content.width {
    width: 80vw;
}

.content.height {
    height: 80vh;
}

.frame {
    aspect-ratio: 16 / 9;
    border: none;
}

.content.width .frame {
    width: 100%;
}

.content.height .frame {
    height: 100%;
}
