.box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 46px;
    border-bottom: 1px solid var(--c-grey-200);
    font-size: 17px;
    font-weight: 600;
}

.left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

.left.active, .right.active {
    cursor: pointer;
}

.left {
    left: 0;
    padding-left: 16px;
}

.right {
    right: 0;
    padding-right: 16px;
}
