@import "../../theme.css";

.box {
    display: grid;
    margin: 24px 0;
    border-radius: 8px;
    border: 1px solid var(--c-grey-200);
}

.cell {
    padding: 24px;
}

.cell.border-right {
    border-right: 1px solid var(--c-grey-200);
}

.cell.border-bottom {
    border-bottom: 1px solid var(--c-grey-200);
}

.cell.dense-top {
    padding-top: 0;
}

.cell.dense-bottom {
    padding-bottom: 0;
}

.cell pre {
    white-space: pre-wrap;
}
