@import "../../theme.css";

.box {
    display: grid;
    margin: 8px 0 24px;
    border: 1px solid var(--c-grey-300);
}

.cell {
    min-width: 0;
    padding: 24px;
}

.cell.border-right {
    border-right: 1px solid var(--c-grey-300);
}

.cell.border-bottom {
    border-bottom: 1px solid var(--c-grey-300);
}

.cell.dense-top {
    padding-top: 0;
}

.cell.dense-bottom {
    padding-bottom: 0;
}

.cell.semi-dense-top {
    padding-top: 8px;
}

.cell.semi-dense-bottom {
    padding-bottom: 8px;
}

.cell pre {
    white-space: pre-wrap;
}
