.table {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    margin: 24px 0;
    border-radius: 8px;
    border: 1px solid var(--c-grey-200);
}

.cell {
    padding: 24px;
}

.cell:nth-child(3n + 1),
.cell:nth-child(3n + 2) {
    border-right: 1px solid var(--c-grey-200);
}

.cell:nth-child(-n + 3) {
    border-bottom: 1px solid var(--c-grey-200);
}

.cell pre {
    white-space: pre-wrap;
}

.hint {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 16px;
    font-size: 14px;
    line-height: 16px;
}
