.box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(./placeholder.svg);
    background-size: contain;
    object-fit: cover;
}

.box.active {
    cursor: pointer;
}
