.input {
    display: block;
    width: 100%;
    padding: 1px 0;
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    line-height: 24px;
    resize: none;
    outline: none;
}

.input.styled {
    padding: 12px 0;
    border-bottom: 2px solid var(--c-grey-300);
}

.input::placeholder {
    opacity: 1;
    color: var(--c-grey-500);
}

.input:disabled {
    cursor: not-allowed;
}

.input.bordered {
    padding: 16px 24px;
    border: 1px solid var(--c-black);
}
