.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 40px 0;
}

.tile {
    min-width: 0;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--c-grey-100);
}

.title {
    margin-bottom: 40px;
    font: var(--t-h2);
    line-height: 30px;
    text-align: center;
}

.tile img {
    aspect-ratio: 498/1000
}
