@import "../../theme.css";

.box {
    margin: 16px 0;
    padding: 12px 16px;
    background-color: var(--c-grey-200);
    white-space: pre-wrap;
}

.box pre {
    white-space: pre-wrap;
}

.box [data-type=spec],
.box [data-type=comment] {
    color: var(--c-grey-500);
}

.box [data-type=keyword] {
    color: var(--c-blue);
}

.box [data-type=math] {
    color: var(--c-primary-800);
}

.box [data-type=number],
.box [data-type=sql],
.box [data-type=reserved] {
    color: var(--c-red-700);
}

.box [data-type=func] {
    color: var(--c-red-500);
}

.box [data-type=prop],
.box [data-type=string],
.box [data-type=class] {
    color: var(--c-green-600);
}

.box [data-type=method] {
    color: var(--c-red-500);
}
