@import "../../theme.css";

.box {
    margin: 16px 0;
    padding: 12px 16px;
    background-color: var(--c-grey-200);
    white-space: pre-wrap;
}

.box .pre {
    white-space: pre-wrap;
}

.pre.light {
    color: var(--c-black);
}

.pre.dark {
    color: var(--c-white);
}

.pre [data-type=spec],
.pre [data-type=comment] {
    color: var(--c-grey-500);
}

.pre [data-type=keyword] {
    color: var(--c-blue);
}

.pre [data-type=math] {
    color: var(--c-primary-800);
}

.pre [data-type=number],
.pre [data-type=sql],
.pre [data-type=reserved] {
    color: var(--c-red-700);
}

.pre [data-type=func] {
    color: var(--c-red-500);
}

.pre [data-type=prop],
.pre [data-type=string],
.pre [data-type=class] {
    color: var(--c-green-600);
}

.pre [data-type=method] {
    color: var(--c-red-500);
}
