.hover {
    position: relative;
}

.new-tab {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    color: var(--c-grey-500);
    transition: color var(--animation);
}

.hover:hover .new-tab {
    color: var(--c-black);
}

.comment {
    margin-top: 24px;
    padding: 16px;
    border: 1px solid var(--c-green-500);
    border-radius: 8px;
    line-height: 24px;
}

.label {
    margin-bottom: 4px;
    color: var(--c-grey-500);
}

.markdown a:is(:link, :visited, :hover, :active) {
    color: var(--c-primary-alt-500);
    text-decoration: underline;
}

.markdown p {
    margin: 0 0 12px;
}

.asset {
    margin-bottom: 8px;
}

.asset pre {
    white-space: pre-wrap;
}
