:root {
    --c-primary-100: #FEFCE6;
    --c-primary-200: #FEF8CD;
    --c-primary-300: #FFF5AF;
    --c-primary-400: #FFEE75;
    --c-primary-500: #FFE000;
    --c-primary-600: #F4D153;
    --c-primary-700: #CDB046;
    --c-primary-800: #917829;
    --c-primary-900: #785F18;

    --c-primary-500-rgb: 253, 222, 79;

    --c-primary-alt-500: #5A80FF;

    --c-red-100: #FFE8ED;
    --c-red-200: #FFAABC;
    --c-red-300: #FF708E;
    --c-red-400: #FA4D6C;
    --c-red-500: #FF315D;
    --c-red-600: #F01947;
    --c-red-700: #CE1940;
    --c-red-800: #A81434;
    --c-red-900: #68071C;

    --c-green-100: #E6FFFA;
    --c-green-200: #C1FCF0;
    --c-green-300: #65EED3;
    --c-green-400: 8#30D8B7;
    --c-green-500: #1EC1A1;
    --c-green-600: #13B393;
    --c-green-700: #088F75;
    --c-green-800: #046653;
    --c-green-900: #023F33;

    --c-purple-100: #EEE6FF;
    --c-purple-200: #CAAEFF;
    --c-purple-300: #A87BFF;
    --c-purple-400: #8C52FF;
    --c-purple-500: #7833FF;
    --c-purple-600: #6018EB;
    --c-purple-700: #4D12BF;
    --c-purple-800: #31008F;
    --c-purple-900: #220065;

    --c-grey-100: #F4F7FA;
    --c-grey-200: #EDF1F5;
    --c-grey-300: #D3DBE6;
    --c-grey-400: #B8C0CD;
    --c-grey-500: #6C7991;
    --c-grey-600: #3C4257;

    --c-black: #10162F;
    --c-black-rgb: 0, 0, 0;
    --c-white: #FFFFFF;
    --c-white-0: rgba(255, 255, 255, 0);
    --c-blue: #0066FF;

    --bg-orange: #FFE173;
    --bg-green: var(--c-green-500);
    --bg-blue: #C8E0FF;
    --bg-red: #FFA492;
    --bg-aquamarine: #C1FCF0;
    --bg-steel-blue: #CEC0FF;
    --bg-turquoise: #97EEFF;
    --bg-light-sky-blue: #AFDAFF;
    --bg-sandy-brown: #FFAE58;
    --bg-green-yellow: #E5FF73;
    --bg-wheat: #DDD6B7;
    --bg-powder-blue: #BFE0DA;
    --bg-thistle: #EBD1DC;
    --bg-floral-white: #FFFBED;
    --bg-plum: #F9BFFF;
    --bg-plum-hover: #F9B2FF;
    --bg-grey: var(--c-grey-500);
}
