:root {
    --c-primary-100: #FEFCE6;
    --c-primary-200: #FEF8CD;
    --c-primary-300: #FDF3B4;
    --c-primary-400: #FCEDA1;
    --c-primary-500: #FDDE4F;
    --c-primary-600: #D7BF5F;
    --c-primary-700: #B49B41;
    --c-primary-800: #917829;
    --c-primary-900: #785F18;

    --c-primary-500-rgb: 253, 222, 79;

    --c-primary-alt-500: #5A80FF;

    --c-red-100: #FFEBE2;
    --c-red-200: #FFCEC2;
    --c-red-300: #FD9183;
    --c-red-400: #FB6864;
    --c-red-500: #F9323F;
    --c-red-600: #D62440;
    --c-red-700: #B3193E;
    --c-red-800: #900F3A;
    --c-red-900: #770938;

    --c-green-100: #F1FCE8;
    --c-green-200: #D1FAB7;
    --c-green-300: #ADF190;
    --c-green-400: #8BE371;
    --c-green-500: #5AD145;
    --c-green-600: #3BB332;
    --c-green-700: #229623;
    --c-green-800: #16791E;
    --c-green-900: #0D641B;

    --c-grey-100: #F4F7FA;
    --c-grey-200: #EDF1F5;
    --c-grey-300: #D3DBE6;
    --c-grey-400: #B8C0CD;
    --c-grey-500: #6C7991;
    --c-grey-600: #3C4257;

    --c-black: #000000;
    --c-black-rgb: 0, 0, 0;
    --c-white: #FFFFFF;
    --c-white-0: rgba(255, 255, 255, 0);
    --c-blue: #0066FF;

    --bg-orange: #FFE173;
    --bg-green: var(--c-green-500);
    --bg-blue: #C8E0FF;
    --bg-red: #FFA492;
    --bg-aquamarine: #73FFE5;
    --bg-steel-blue: #CEC0FF;
    --bg-turquoise: #97EEFF;
    --bg-light-sky-blue: #AFDAFF;
    --bg-sandy-brown: #FFAE58;
    --bg-green-yellow: #E5FF73;
    --bg-wheat: #DDD6B7;
    --bg-powder-blue: #BFE0DA;
    --bg-thistle: #EBD1DC;
    --bg-floral-white: #FFFBED;
    --bg-plum: #F9BFFF;
    --bg-plum-hover: #F9B2FF;
    --bg-grey: var(--c-grey-500);

    --c-sc-red: #FF315D;
    --c-sc-green: #1EC1A1;
    --c-sc-purple: #7833FF;
    --c-sc-yellow: #FFE000;
    --c-sc-aero: #C1FCF0;
}
