:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-mono: RobotoMono, sans-serif;
    --font-family-brand: DrukWide, sans-serif;

    --t-h1: 700 32px / 40px var(--font-family);
    --t-h2: 700 24px / 40px var(--font-family);
    --t-h3: 22px / 1.4em var(--font-family);
    --t-base: 18px / 1.8em var(--font-family);
    --t-small: 14px / 18px var(--font-family);
    --t-tiny: 12px / 14px var(--font-family);
    --t-brand: 24px / 1em var(--font-family-brand);
}

@font-face {
    font-family: RobotoMono;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: DrukWide;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DrukWide-BoldItalic.otf) format("opentype");
}

h1 {
    margin: 0;
    font: var(--t-h1);
}

h2 {
    margin: 0;
    font: var(--t-h2);
}

h3 {
    margin: 0;
    font: var(--t-h3);
}

h4 {
    margin: 0;
    font: bold var(--t-base);
}

pre {
    margin: 0;
    font: var(--t-base);
    font-family: var(--font-family-mono);
}
