:root {
    --font-family: Circe, sans-serif;
    --font-family-mono: RobotoMono, sans-serif;
    --font-family-brand: DrukWide, sans-serif;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --t-h1: 700 48px / 56px var(--font-family-brand);
    --t-h2: 700 32px / 40px var(--font-family-brand);
    --t-h3: 700 24px / 32px var(--font-family);
    --t-base: 20px / 32px var(--font-family);
    --t-small: 16px / 24px var(--font-family);
    --t-tiny: 12px / 14px var(--font-family);
    --t-brand: 24px / 1em var(--font-family-brand);
}

@font-face {
    font-family: RobotoMono;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: DrukWide;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DrukWide-BoldItalic.otf) format("opentype");
}

@font-face {
    font-family: Circe;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Circe-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Circe-Bold.ttf) format("truetype");
}

h1 {
    margin: 0;
    font: var(--t-h1);
}

h2 {
    margin: 0;
    font: var(--t-h2);
}

h3 {
    margin: 0;
    font: var(--t-h3);
}

h4 {
    margin: 0;
    font: bold var(--t-base);
}

pre {
    margin: 0;
    font: 18px / 32px var(--font-family-mono);;
}
