.modal {
    width: 560px;
}

.finish {
    width: 560px;
    text-align: center;
}

.img {
    height: 140px;
    margin-bottom: 24px;
    background: url(./party.svg) center no-repeat;
}

.message {
    margin-bottom: 24px;
    line-height: 32px;
}
