.box {
    display: grid;
    grid-template-areas:
            "code  img"
            "flags flags";
    grid-template-columns: 1fr 400px;
    grid-template-rows: 480px auto;
    margin: 16px 0;
}

.code {
    grid-area: code;
}

.view {
    grid-area: img;
    justify-self: flex-end;
}

.img {
    margin-top: -144px;
}

.flags {
    grid-area: flags;
    margin: 24px 0 56px;
}
