.box {
    display: grid;
    grid-template-areas:
            "code  img"
            "flags flags";
    grid-template-columns: 1fr 400px;
    grid-template-rows: 560px auto;
    margin-bottom: 16px;
    padding: 32px 56px;
    border: 1px solid var(--c-grey-300);
    border-radius: 12px;
}

.code {
    grid-area: code;
    padding: 40px 40px 0 40px;
}

.view {
    grid-area: img;
    padding-top: 40px;
}

.img {
    height: 466px;
    border-radius: 8px;
    box-shadow: 0 10px 40px 0 #d3dbe6;
}

.flags {
    grid-area: flags;
    margin: 24px 0 56px;
}
