@import "../../theme.css";

.box {
    display: inline-block;
    padding: 0 6px;
    border-radius: 4px;
    background-color: var(--c-grey-200);
    line-height: 1.6;
    transition: background-color var(--animation);

    --bg-color: var(--c-white);
}

.box:hover,
.box.hover,
.box.active {
    background-color: var(--bg-color);
}

.box.inline {
    display: inline;
}

.overlay {
    display: none;
    position: absolute;
    top: 25px;
    right: 27px;
    bottom: 25px;
    left: 27px;
    z-index: var(--l-dropdown);
    pointer-events: none;
}

.shape {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--animation);
    transition-property: opacity, visibility;
    z-index: 1;
    pointer-events: none;
}

.clone {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: var(--c-white);
}

.clone.rect {
    margin: -2px 0 0 -4px;
    padding: 2px 4px;
    border-radius: 4px;
    box-shadow: 0 0 0 2px var(--bg-color);
}

.clone.circle {
    box-shadow: 0 0 0 4px var(--c-white), 0 0 0 6px var(--bg-color);
    border-radius: 50%;
}

.clone.inset {
    margin: 0;
    padding: 0;
}

.clone.inset::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 4px solid var(--bg-color);
}

.clone.caption {
    /*box-shadow: 0 0 0 10px var(--c-white-0), 0 0 0 11px var(--c-primary-500);*/
}

.clone.caption::before {
    content: "";
    position: absolute;
    top: -18px;
    right: -30px;
    bottom: -18px;
    left: -30px;
    border: 1px solid var(--c-black);
    border-radius: 8px;
}

.clone.caption::after {
    content: attr(data-caption);
    position: absolute;
    top: -38px;
    left: -16px;
    padding: 0 8px;
    border-radius: 4px 4px 0 0;
    background-color: var(--c-black);
    color: var(--c-white);
    font-size: 12px;
    line-height: 20px;
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.48);
    border-radius: 40px;
    opacity: 0;
    visibility: hidden;
    transition: var(--animation);
    transition-property: opacity, visibility;
}

.shape.hover,
.shape.active,
.shape.hover ~ .bg {
    opacity: 1;
    visibility: visible;
}
