.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 40px 0;
}

.tile {
    min-width: 0;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--c-grey-100);
    text-align: center;
}

.title {
    margin: 0 0 40px !important;
    font: 700 24px / 30px var(--font-family);
}

.tile img {
    max-width: 320px;
    aspect-ratio: 498/1000
}
