@import '../../theme.css';

.container {
    display: inline-flex;
    align-items: center;
    font-size: inherit;
    vertical-align: top;
    line-height: 1em;
}

.container::before {
    content: '\a0';
    display: inline-block;
    width: 0;
}

.svg {
    width: 1em;
    height: 1em;
}
