.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 592px;
}

.img {
    width: 140px;
    height: 140px;
    margin: 36px 0 12px;
    background-image: url(./party.svg);
}

.title {
    font: var(--t-h2);
    line-height: 30px;
}

.text {
    margin-bottom: 12px;
    color: var(--c-grey-500);
}
