.modal {
    display: flex;
    flex-direction: column;
    width: 816px;
    min-height: 0;
}

.finish {
    width: 816px;
    text-align: center;
}

.modal h2,
.finish h2 {
    font-family: var(--font-family);
}

.hat {
    height: 140px;
    margin-bottom: 24px;
    background: url(./party.svg) center no-repeat;
}

.message {
    margin-bottom: 24px;
    line-height: 32px;
}

.back {
    flex: 1;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin: -24px 0 24px;
    color: var(--c-grey-500);
}
