.modal {
    display: flex;
    flex-direction: column;
    width: 816px;
    min-height: 0;
}

.finish {
    width: 816px;
    text-align: center;
}

.hat {
    height: 140px;
    margin-bottom: 24px;
    background: url(./party.svg) center no-repeat;
}

.message {
    margin-bottom: 24px;
    line-height: 32px;
}
