.box {
    display: grid;
    height: 0;
    overflow: hidden;
    transition: height var(--animation);
    --height: auto;
}

.box[data-expanded=true] {
    height: var(--height);
}

.content {
    margin-bottom: 16px;
    padding: 16px;
    border: 2px solid var(--c-primary-500);
}
