.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17px 0 2px;
    padding-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border-bottom: 1px solid var(--c-grey-200);
}

.userpic {
    margin-bottom: 14px;
}

.fields {
    padding: 0 16px;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid var(--c-grey-200);
}

.field {
    display: flex;
    align-items: center;
    height: 48px;
}

.label {
    width: 44px;
    margin-right: 16px;
    font-weight: 500;
}

.input {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--c-grey-200);
}

.field:last-child .input {
    border-bottom: none;
}

.input::-moz-focus-inner {
    border: 0;
}

.input::placeholder {
    opacity: 1;
    color: var(--c-grey-500);
}
