.reset {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.contained {
    composes: reset;
    background-color: var(--c-primary-500);
    color: var(--c-white);
    user-select: none;
    transition: background-color 0.12s var(--animation-timing-function);
}

.outlined {
    composes: reset;
    box-shadow: 0 0 0 1px var(--c-grey-300) inset;
    user-select: none;
    transition: background-color 0.12s var(--animation-timing-function);
}

.contained.block,
.outlined.block {
    width: 100%;
}

.contained.small,
.outlined.small {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 4px;
}

.contained.medium,
.outlined.medium {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 6px;
}

.contained:not(:disabled):active,
.outlined:not(:disabled):active {
    background-color: var(--c-grey-300);
}

.text {
    composes: reset;
    color: var(--c-primary-500);
}

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.loader {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.circle {
    stroke: currentColor;
    stroke-width: 6;
    fill: none;
    stroke-dasharray: 46px;
    stroke-linecap: round;
    animation: loader-rotate 0.6s linear infinite;
    transform-origin: center;
}

@keyframes loader-rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
