.reset {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.default {
    composes: reset;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 6px;
    background-color: var(--c-primary-500);
    color: var(--c-white);
    user-select: none;
    transition: background-color 0.12s var(--animation-timing-function);
}

.default:active {
    background-color: var(--c-grey-300);
}

.text {
    composes: reset;
    color: var(--c-primary-500);
}
