.box {
    position: relative;
    margin: -70px 0 0;
    padding: 70px 0 64px;
    background-image: url(../../../assets/3/1-function-parts.svg);
    background-size: 359px 230px;
    background-repeat: no-repeat;
}
