@import "./sanitize.css";
@import "./reset.css";

@import "./theme/animation.css";
@import "./theme/colors.css";
@import "./theme/fonts.css";
@import "./theme/layers.css";

body {
    font: var(--t-base);
    color: var(--c-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
