:root {
    --screen-transition: transform 200ms ease-out;
}

.display {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.48);
    opacity: 0;
    visibility: hidden;
    z-index: var(--l-drawer);
    transition: var(--animation);
    transition-property: opacity, visibility;
}

.display[data-darken] ~ .overlay {
    opacity: 1;
    visibility: visible;
}

.tab.hidden {
    display: none;
}
