.display {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.tab.hidden {
    display: none;
}

.screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--c-white);
    overflow: hidden;
    transition: transform 200ms ease-out;
}

.screen.default {
    transform: translateX(100%);
}

.screen.default.prev {
    transform: translateX(-30%);
}

.screen.default.current {
    transform: translateX(0);
}

.screen.modal {
    transform: translateY(100%);
}

.screen.modal.prev {
    transform: translateY(0);
}

.screen.modal.current {
    transform: translateY(0);
}
