.box {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 90vw;
    min-height: 0;
    margin: -32px;
}

.left {
    min-height: 0;
    padding: 72px 32px 32px;
    background-color: var(--c-sc-yellow);
    border-radius: 12px 0 0 12px;
    overflow: auto;
}

.title {
    margin-bottom: 84px;
}

.frame {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}

.right {
    display: flex;
    min-height: 0;
    padding: 72px 32px 0;
}

.content {
    padding: 0 28px 32px 0;
    overflow: auto;
}

.item {
    margin-bottom: 32px;
}

.item:last-child {
    margin-bottom: 0;
}

.answer {
    margin-top: 8px;
    white-space: pre-wrap;
}
