@import "../../theme.css";

.word {
    background-color: rgba(var(--c-primary-500-rgb), 0.1);
    border-bottom: 1px dashed var(--c-primary-500);
    cursor: help;
}

:global(.tippy-svg-arrow) svg {
    fill: #333;
}

:global(.tippy-box) {
    font: 500 var(--t-small);
    letter-spacing: 0.03em;
}
