@import "../../theme.css";

.word {
    background-color: rgba(var(--c-primary-500-rgb), 0.2);
    border-bottom: 1px dashed var(--c-primary-500);
    cursor: help;
    white-space: nowrap;
}

:global(.tippy-svg-arrow) svg {
    fill: #333;
}

:global(.tippy-content) {
    padding: 16px;
    font: 500 var(--t-small);
    letter-spacing: 0.03em;
    white-space: pre-wrap;
}
