.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 24px 0;
    border-radius: 8px;
    border: 1px solid var(--c-grey-200);
}

.cell {
    padding: 24px;
}

.cell:nth-child(2n + 1) {
    border-right: 1px solid var(--c-grey-200);
}

.cell:nth-child(-n + 2) {
    border-bottom: 1px solid var(--c-grey-200);
}
