.table {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    margin: 24px 0;
    border-radius: 8px;
    border: 1px solid var(--c-grey-200);
}

.cell {
    padding: 24px;
}

.cell:nth-child(3n + 1),
.cell:nth-child(3n + 2) {
    border-right: 1px solid var(--c-grey-200);
}

.cell:nth-child(-n + 3) {
    border-bottom: 1px solid var(--c-grey-200);
}

.post {
    position: relative;
    height: 40px;
    padding: 4px 24px 8px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--bg-orange);
    overflow: hidden;
    transition: height var(--animation);
    cursor: pointer;
}

.post.expanded {
    height: 300px;
    cursor: default;
}

.expand {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    transition: transform var(--animation);
    cursor: pointer;
}

.post.expanded .expand {
    transform: rotate(-90deg);
}
