.nobr {
    white-space: nowrap;
}

.screen {
    display: inline-block;
    width: 520px;
    margin-bottom: 16px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--c-grey-100);
    text-align: center;
}
