.box {
    display: flex;
    margin-top: 32px;
}

.step {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--c-grey-300);
    cursor: pointer;
    transition: color var(--animation);
}

.step:last-child {
    flex: 0 0 24px;
}

.step.active {
    color: var(--c-primary-500);
}

.circle {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: currentColor;
}

.circle::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 11px;
    width: 15px;
    height: 22px;
    margin-bottom: 9px;
    background-image: url(./flag.svg);
    opacity: 0;
    transition: opacity var(--animation);
}

.step.current .circle::before {
    opacity: 1;
}

.bar {
    flex: 1;
    height: 4px;
    margin: 0 16px;
    border-radius: 2px;
    background-color: currentColor;
}

.step:last-child .bar {
    display: none;
}

.hint {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 12px;
    padding: 9px 16px;
    border-radius: 5px;
    background-color: var(--c-primary-500);
    font-size: 17px;
    line-height: 20px;
    color: var(--c-black);
    white-space: nowrap;
    transform: translateX(-50%);
    animation: hint-oscillate 800ms ease-in-out alternate infinite;
}

.hint::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 50%;
    width: 13px;
    height: 6px;
    margin-left: -7px;
    background-image: url(./hint-triangle.svg);
}

@keyframes hint-oscillate {
    0% { margin-top: 12px; }
    100% { margin-top: 20px; }
}
