.box {
    counter-reset: slide;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 492px;
    height: 60vh;
}

.slide::before {
    counter-increment: slide;
    content: counter(slide);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 600px;
    color: var(--c-grey-100);
    z-index: -1;
}
